TareaVeterinaria\TareaVeterinaria\DAL\obj
TareaVeterinaria\TareaVeterinaria\DAL\bin
TareaVeterinaria\TareaVeterinaria\DO\obj
TareaVeterinaria\TareaVeterinaria\DO\bin
TareaVeterinaria\TareaVeterinaria\TareaVeterinaria\obj
TareaVeterinaria\TareaVeterinaria\TareaVeterinaria\bin
TareaFotos/.vs/
TareaFotos/DAL/obj/
TareaFotos/DO/bin/
TareaFotos/DO/obj/
TareaFotos/packages/
TareaFotos/TareaFotos/obj/
TareaFotos/DAL/bin/
TareaFotos/TareaFotos/bin/
Trabajo En Clases 07-08-2020/.vs/
Trabajo En Clases 07-08-2020/DAL/bin/
Trabajo En Clases 07-08-2020/DAL/obj/
Trabajo En Clases 07-08-2020/packages/
Trabajo En Clases 07-08-2020/Trabajo En Clases 07-08-2020/bin/
Trabajo En Clases 07-08-2020/Trabajo En Clases 07-08-2020/obj/
Trabajo En Clases 07-08-2020/DO/bin/
Trabajo En Clases 07-08-2020/DO/obj/
Practica para Examen Final/.vs/
Practica para Examen Final/DAL/obj/
Practica para Examen Final/DO/obj/
Practica para Examen Final/packages/
Practica para Examen Final/Practica para Examen Final/bin/
Practica para Examen Final/Practica para Examen Final/obj/
