TareaVeterinaria\TareaVeterinaria\DAL\obj
TareaVeterinaria\TareaVeterinaria\DAL\bin
TareaVeterinaria\TareaVeterinaria\DO\obj
TareaVeterinaria\TareaVeterinaria\DO\bin
TareaVeterinaria\TareaVeterinaria\TareaVeterinaria\obj
TareaVeterinaria\TareaVeterinaria\TareaVeterinaria\bin
TareaFotos/.vs/
TareaFotos/DAL/obj/
TareaFotos/DO/bin/
TareaFotos/DO/obj/
TareaFotos/packages/
TareaFotos/TareaFotos/obj/
TareaFotos/DAL/bin/
TareaFotos/TareaFotos/bin/
