TareaVeterinaria\TareaVeterinaria\DAL\obj
TareaVeterinaria\TareaVeterinaria\DAL\bin
TareaVeterinaria\TareaVeterinaria\DO\obj
TareaVeterinaria\TareaVeterinaria\DO\bin
TareaVeterinaria\TareaVeterinaria\TareaVeterinaria\obj
TareaVeterinaria\TareaVeterinaria\TareaVeterinaria\bin
